// RESPONSIVE //
@media screen and (max-width: 500px) {}

// BODY //
body {
    height: 100vh;
    margin: 0;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}



// NAVBAR //
#nav_bar {
    @include center();
    background-color: #465268;
    color: white;
    margin-bottom: 2%;
    width: 100%;
    height: 70%;

    & #left {
        width: 50%;
        height: 100%;
        @include center();

        & h1 {
            font-family: 'Lato', sans-serif;
            color: white;
            font-size: 45px;
        }
        
        & h1::before {
            content: '"';
            color: #ED7150;
        }
    
        & h1::after {
            content: '"';
            color: #ED7150;
        }
    }


    & #right {
        width: 50%;
        height: 100%;
        font-family: 'Lato', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & nav {
            height: 100%;
            margin: 0;
            width: 50%;
            @include center();

            & ul {
                width: 100%;
                height: 100%;
                @include center();

                & li {
                    list-style: none;
                    width: 50%;
                    height: 100%;
                    @include center();

                    & a {
                        text-decoration: none;
                        color: white;
                        width: 100%;
                        height: 20%;
                        @include center();
                    }

                    & a:hover {
                        background-color: #ED7150;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}


// TABLEAU //
#title_table {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h2 {
        font-family: 'Lato', sans-serif;
        text-align: center;
    }

    & table {
        width: 100%;
        border: solid grey 1px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;

        & td {
            padding: 3% 1%;
            font-size: 80%;
            border: 1px solid black;
            text-align: center;
        }
    }
}
































.libs {
    margin-top: 80px;
}

.html_hidden {
    display: none;
}

.html_visible {
    display: block;
}

.js_hidden {
    display: none;
}

.js_visible {
    display: block;
}

.bienvenue_librairie_off {
    display: none;
}

.bienvenue_librairie_on {
    display: block;
    font-size: 20px;
}

header {
    margin-bottom: 15%;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);


    & button {
        padding: 0.5%;
        width: 7%;
        border: 1px solid black;
        border-radius: 5%;
        font-size: 100%;
        font-weight: bold;
        box-shadow: 0px 3px 1px 0px #000000;
        font-family: 'Lato', sans-serif;
    }
    
    & button:active {
        margin-bottom: -0.5%;
        box-shadow: none;
    }


    & #lib {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 10%;
        font-family: 'Lato', sans-serif;
    
        & h1, h2 {
            width: 100%;
            text-align: center;
            margin: 0;
        }
    
        & #separateur {
            border: 1px solid black;
            width: 100%;
        }
    }

}



#html {
    height: 100vh;

    & section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 40%;
        margin: 20px 0 150px 0;
        box-shadow: 0px 0px 10px 0px #000000;
        background-color: white;
    
        & .title_section {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: flex-start;
            color: transparent;
            background: #666666;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        }

        & h1 {
            font-size: 25px;
            font-family: 'Raleway', sans-serif;
        }

        & #resultat {
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: end;
            margin: 0;

            & div {
                width: 100%;
            }
        }
    }
}









// TABLEAUX //
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 20px;
}


#js {
    & p {
        font-size: 20px;
    }
}